* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #dde1e7;
  text-align: center;
}
/* Icon */
.icons {
  display: flex;
  margin: 40px 0;
}
/* List */
.icons li {
  position: relative;
  list-style: none;
  height: 70px;
  width: 70px;
  background: #dde1e7;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow:
    -3px -3px 7px #ffffff73,
    3px 3px 5px rgba(94, 104, 121, 0.288);
}
/* a tag */
.icons li a {
  line-height: 70px;
  font-size: 27px;
  color: #b6bbc5;
}
/* shodow-1 and 2 for the Effect */
.second li.shadow-2 a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 55px;
  width: 55px;
  line-height: 55px;
  border-radius: 50px;
  font-size: 24px;
  box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.first li.shadow-1 {
  box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.first li.shadow-1 a {
  font-size: 25px;
}

/* Giving color to the icons  */
/*  fill- color is js function activate while clicking.*/
li:nth-child(1).fill-color a {
  color: #1877f2;
}
li:nth-child(2).fill-color a {
  color: #25d366;
}
li:nth-child(3).fill-color a {
  color: #e1306c;
}
li:nth-child(4).fill-color a {
  color: #2867b2;
}
li:nth-child(5).fill-color a {
  color: #333;
}
